In [1]:
import pandas as pd
import numpy as np

In [25]:
df = pd.read_csv(r'C:\Users\iDAFAdmin\Downloads\Trial.csv')

In [5]:
data

       App Reference
0     Uber       ND1
1     Uber       ND1
2     Uber       ND1
3     Uber       ND1
4     Uber       ND1
...    ...       ...
5294  Bolt       GD1
5295  Bolt       GD1
5296  Bolt       GD1
5297  Bolt       GD1
5298  Bolt       GD1

[5299 rows x 2 columns]

In [24]:
for i in data:
    if item == 'Uber' and 'Bolt':
        print(i)

In [21]:
data = np.array(data)

In [22]:
data

array([['Uber', 'ND1'],
       ['Uber', 'ND1'],
       ['Uber', 'ND1'],
       ...,
       ['Bolt', 'GD1'],
       ['Bolt', 'GD1'],
       ['Bolt', 'GD1']], dtype=object)

In [27]:
df

       App Reference
0     Uber       ND1
1     Uber       ND1
2     Uber       ND1
3     Uber       ND1
4     Uber       ND1
...    ...       ...
5294  Bolt       GD1
5295  Bolt       GD1
5296  Bolt       GD1
5297  Bolt       GD1
5298  Bolt       GD1

[5299 rows x 2 columns]

In [32]:
Uber = set{df['App'] == 'Uber'}
Bolt = set{df['App'] == 'Bolt'}
I = Uber.intersection(Bolt)

SyntaxError: invalid syntax (<ipython-input-32-a2d9b5f09d75>, line 1)

In [33]:
Uber

{False, True}

In [34]:
x = lambda a : a + 10
print(x(5))

15

In [35]:
x = lambda a, b : a * b
print(x(5, 6))

30

In [1]:
#python program to check if x is a perfect square
import math

def isPerfectSqr(x):
    s = int(math.sqrt(x))
    return s*s == x

In [6]:
isPerfectSqr(24 * 11)

False

In [8]:
#Returns true if n is a Fibonacci Number
def isFibonacci(n):
    return isPerfectSqr(5*n*n + 4) or isPerfectSqr(5*n*n+4)

In [13]:
#A utility code to test the above function
for i in range(1,11):
        if (isFibonacci(i) == True):
            print(i,"is a Fibonacci Number ")
        else:
            print(i,"is a Fibonnacci Number")

1 is a Fibonacci Number
2 is a Fibonnacci Number
3 is a Fibonacci Number
4 is a Fibonnacci Number
5 is a Fibonnacci Number
6 is a Fibonnacci Number
7 is a Fibonnacci Number
8 is a Fibonacci Number
9 is a Fibonnacci Number
10 is a Fibonnacci Number